.title {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate {
    opacity: 1;
    transform: translateY(0);
}

.title_box h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.title_box p {
    font-size: 1.3rem;
    line-height: 1.4;
    color: var(--icons-color);
}

@media screen and (max-width: 35em) {
    .title_box h2 {
        font-size: 2rem;
    }

    .title_box p {
        font-size: 1rem;
    }
}